{% extends 'admin/base.html' %}

{% block dependencies %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/event.css') }}">
<script src="{{ url_for('static', filename='js/admin/event.js') }}" defer> </script>

{% endblock %}


{% block main %}
<div class="container event-container">
    <div class="container event-box rounded border shadow">
        <h2 class="my-3 text-center">Upload Event File</h2>
        <form action="" method="post" enctype="multipart/form-data">
        <div class="my-3 event-image">
            <label for="event-image" class="form-label">Flyer</label>
            <div class="file-input-container rounded">
                <input type="file" id="imageFileInput" class="custom-file-input" accept="image/*">
                <span class="input-group-text"><i class="bi bi-file-earmark-image"></i></span>
                <label for="imageFileInput" class="custom-file-label">Change File</label>
                <div id="image-file-name" class="ms-3 file-name">{{event['flyer_id']}}</div>
            </div>
        </div>

        <div class="my-3">
            <label for="title" class="form-label">Theme/Name</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-fonts"></i></span>
                <input type="text" class="form-control" name="title" id="title" value="{{event['title']}}" required>
              </div>
        </div>

        <div class="date-tiime my-3 row row-cols-2">
            <div class="">
                <label for="date" class="form-label">Date</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-calendar-month"></i></span>
                    <input type="date" class="form-control" name="date" id="date" value="{{event['date']}}" required>
                </div>
            </div>

            <div class="">
                <label for="time" class="form-label">Time</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-clock-history"></i></span>
                    <input type="time" class="form-control" name="time" id="time" value="{{event['time']}}" required>
                </div>
            </div>
        </div>

        <div class="my-3">
            <label for="location" class="form-label">Location</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                <input type="text" class="form-control" name="location" id="location" value="{{event['location']}}" required>
              </div>
        </div>

        <div class="my-3">
            <label for="organizers" class="form-label">Organizers</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-people-fill"></i></span>
                <input type="text" class="form-control" name="organizers" id="organizers" value="{{event['organizers']}}" required>
              </div>
        </div>

        <div class="my-3">
            <label for="event-info" class="form-label">Event Info</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-chat-square-quote"></i></span>
                <textarea class="form-control" aria-label="With textarea" name="event_info"> {{event['event_info']}}</textarea>
            </div>
        </div>

        <div class="my-3">
            <label for="contact-info" class="form-label">Contact Info</label>
            <span class="info"><small>Seperate, contact infos with ','</small></span>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-chat-square-quote"></i></span>
                <input class="form-control" name="contact_info" value="{{event['contact_info']}}">
            </div>
        </div>

        <div class="submit d-flex justify-content-center my-3">
            <button type="submit" class="btn">Update</button>
            <a href="{{ url_for('admin.edit_reg_form_route', event_id=event['_id']) if event['form_id'] else url_for('admin.add_reg_form_route', event_id=event['_id'])}}" class="btn next">Proceed to registration form <i class="bi bi-arrow-right-circle"></i></a>
        </div>
    </form>
    </div>
</div>


<script>
    
const imageFileInput = document.querySelector('.event-image #imageFileInput');
const imageFileNameDisplay = document.querySelector('.event-image .file-name');
const imageFileLabel = document.querySelector('.event-image .custom-file-label');


imageFileInput.addEventListener('change', ()=> {
    if (imageFileInput.files[0]){
        imageFileNameDisplay.textContent = imageFileInput.files[0].name
        imageFileInput.name = 'flyer'
    }
});
</script>
{% endblock %}