{% extends 'admin/base.html' %}
{% block dependencies %}
<link rel="stylesheet" href="{{ url_for('static' ,filename='css/admin/profile.css') }}">
<script src="{{ url_for('static' ,filename='js/admin/profile.js') }}" defer> </script>

{% endblock %}

{% block main %}

<div class="container profile-container">
    <div class="container profile-box rounded border shadow">
        <form action="" method="post">
            {%  with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages%}
            {% if category == 'success'%}
                <div class="alert alert-success flash" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-danger p-1 flash" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            {% endfor %}
            {% endwith %}
        <div class="my-3">
            <label for="username" class="form-label">Username</label>
            <div id="username-err" class="form-text"></div>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person-bounding-box"></i></span>
                <input type="text" class="form-control" name="username" id="username" value="{{user['username']}}" required>
              </div>
        </div>

        <div class="my-3">
            <label for="email" class="form-label">Email</label>
            <div id="email-err" class="form-text"></div>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                <input type="email" class="form-control" name="email" id="email" value="{{user['email']}}" required>
              </div>
        </div>

        <div class="my-3">
            <label for="password" class="form-label">Password</label>
            <div id="password-err" class="form-text"></div>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                <input type="password" class="form-control" name="password" id="password" value="{{user['password']}}" required>
              </div>
        </div>
        
        <div class="submit d-flex justify-content-between my-3">
            <button type="submit" class="btn">Submit</button>
            <button type="reset" class=" btn btn-outline">Reset</button>
        </div>
    </form>
    </div>
</div>


{% endblock %}