{% extends '/base.html' %}

{% block dependencies %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/public/audio.css') }}">
<script src="{{ url_for('static', filename='js/public/audio.js') }}" defer> </script>
{% endblock %}

{% block hero %}
<div class="hero">
    <img class="hero-img" src="{{ url_for('static', filename='media/images/hero0.jpg')}}" alt="">
    <div class="hero-content">
        <p class="h1">Listen to our various messages and gospel songs</p>
        <div class="hero-btns">

        </div>
    </div>
</div>
{% endblock %}

{% block main %}

<div class="query px-3 px-lg-5 py-3 sticky-top">
    <form action="" class="d-flex align-items-center justify-content-end sort-form">
        <div class="order">
            <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="order" {{'checked' if order=='on' else ''}}>
            <label class="form-check-label" for="flexSwitchCheckChecked"><i class="bi bi-arrow-down-up"></i></label>
            </div>
            
        </div>
        <div class="search d-flex">
            <input value="{{query}}" class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search" id="query-field" name="query">
            <button class="btn btn-sm btn-outline" type="submit" id="search-btn" name="search" value="true">Search</button>
        </div>
        <input type="hidden" name="id" value="{{id}}">
    </form>
</div>

<div class="container">

    {% if not audios %}
        <p class="text-center h3 mt-5">Audio Record Empty</p>
    {% else %}
    <ul class="audio-list my-5 row justify-content-md-between g-lg-4 gy-5">
        {% for audio in audios %}
        <div class="col-lg-5">
            <li class="audio-item">
                <div class="audio-detail text-nowrap">
                    <span class="audio-title" data-title="{{audio['title']}}">{{ audio["title"] }}</span> ~ <span class="text-muted audio-artist" data-name="{{audio['artist']}}">{{ audio["artist"] }}</span>
                </div>
                <div class="audio-box border shadow p-3">
                    <div class="audio-player d-flex align-items-center">
                        <div class="play">
                        <div class="play-icon">
                            <img class="img-fluid" src="{{ url_for('admin.download_audio_route', audio_id=audio['image_id']) if audio['image_id'] else ''}}" alt="" data-file="{{audio['image_id']}}">
                            <i class="bi bi-play-fill play-btn" data-file="{{ audio['file_id'] }}"></i>
                        </div>
                        </div>

                        <div class="audio-body">

                            <div class="seek d-flex align-items-center">
                                <input type="range" name="" class="audio-progress w-100" min="0" max="100" value="0">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </div>
        {% endfor %}     
    </ul>
    {% endif %}
</div>

<div class="now-playing fixed-bottom shadow-lg p-3" id="now-playing">
    <div class="display-btns d-flex">
        <i class="bi bi-chevron-down hide-btn"></i>
        <i class=" ms-3 bi bi-x-lg cancel-btn"></i>
    </div>

    <div class="text-center">
        <marquee behavior="" direction="">
            <span class="title"></span> ~
            <span class="artist"></span>
        </marquee>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <img class="img-fluid audio-img" src="#" alt="">
        </div>
        <div class="action-btns d-flex justify-content-around">
            <i class="bi bi-skip-start-fill"></i>
            <i class="bi bi-play-circle play-pause-btn"></i>
            <i class="bi bi-skip-end-fill"></i>
        </div>
        <div>
            <i class="bi bi-repeat"></i>
        </div>
    </div>
    <div>
        <div>
            <div class="audio-progress">
            <div class="audio-progress-bar"></div>
            <div class="audio-progress-head"></div>
        </div> 
        </div>
        <div>
            <i class="bi bi-volume-down-fill"></i>
        </div>
    </div>

</div>
{% endblock %}


{% block pageScript %}
    <script>
        document.getElementById("resources-page").classList.add("active")
        document.getElementById("audio-page").classList.add("active")
    </script>
{% endblock %}